/*gongxuri*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#lmap {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

/*guojinxin*/

#nav-menu{
    position: absolute;
    z-index: 100;
}

#nav-menu li{
    background: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
